.how-to-play-section {
    margin-top: 5vw;

    .how-to-play-header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        text-align: center;

        .roles-subheader-text {
            max-width: 70vw;

            margin-top: 2vw;

            .card-subheader:last-child {
                margin-top: 3vw;
            }
        }
    }

    .links-container {
        display: flex;
        justify-content: center;

        .media-button-container {
            width: 10vw;
            height: 20vw;

            margin: 5vw;
        }
    }
}