.role-card-container {
    width: 18.5vw;
    height: 100%;

    background-color: #29212D;

    border-radius: 1vw;

    margin: 0 0.4vw;

    .role-card-image-container {
        position: relative;

        width: 100%;
        height: 18.5vw;

        padding: 0.3vw;

        .role-card-image {
            width: 100%;
            height: auto;

            border-radius: 1vw;
        }
    }
}