.video-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    cursor: pointer;

    .video {
        width: 100%;

        border-radius: 1vw;
    }

    .video-button {
        position: absolute;
        bottom: 0;
    }
}