.button {
    transition: 0.25s;

    display: inline-block;

    background: 
     linear-gradient(#211327,#211327) padding-box,
     linear-gradient(to right, #FF4D8D, #6424CB) border-box;

    width: max-content;
    padding: 0.4vw 2.5vw;

    font-size: 1.5vw;

    border: 0.25vw solid transparent;
    border-radius: 2vw;

    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        
        background: 
            linear-gradient(#351f3f,#351f3f) padding-box,
            linear-gradient(to right, #ff5e99, #6d31cc) border-box;

    }
}