.info-background {
    position: relative;

    width: 100vw;
    height: 200vh;

    background: #160E16;

    overflow-y: hidden;

    .info-image-background-container {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        overflow: hidden;

        .info-image-background {
            position: absolute;
            top: 0;

            width: 100%;
            height: auto;
        }
    }


    .info-content {
        position: absolute;


        .cards-text-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            width: 100%;
            height: 100%;

            font-size: 1.35vw;

            text-align: left;

            p {
                font-weight: 400;
            }
        }
    }
}