.info-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    margin-top: 5vw;

    .info-container {
        display: flex;
        justify-content: space-around;

        width: 80vw;

        margin-top: 2vw;

        .video-card-container {
            width: 40vw;
        }

        .card-text-container {
            width: 40vw;
        }
    }

    &:first-child {
        margin-top: 0;
    }
}