.info-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    margin-top: 5vw;

    .info-container {
        display: flex;
        justify-content: center;

        margin-top: 2vw;

        .video-card-container {
            width: 40%;

            margin: 0 3vw;
        }

        .card-text-container {
            width: 40%;
        }
    }    
}